/* =========================
Common Styles all over the sites
=========================== */
* {
  @apply box-border;
}

[data-ns-animate] {
  opacity: 0;
}

/* ==========Container========== */

@utility main-container {
  @apply lp:px-0 mx-auto max-w-[1680px] px-5 2xl:px-30;
}

/* ==========SCROLLBAR========== */
.scroll-bar::-webkit-scrollbar {
  @apply hidden;
}

.scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ==========FOOTER========== */

/* tab bar css  */

.tab-bar {
  .active-tab-bar {
    @apply bg-primary-500 absolute right-0 bottom-[-0.8px] left-0 h-[2px] origin-left transition-[translate] duration-500 ease-in-out;
    translate: var(--_left, 0px) 0;
    width: var(--_width, 0px);
  }
}

/* ==========MARQUEE LEFT & RIGHT MASK OVERRIDE========== */
.horizontal-marquee.smooth {
  -webkit-mask: none !important;
  mask: none !important;
}

/* MODAL */

.modal-open {
  @apply grid;
}

.modal-close {
  @apply hidden;
}
.stack-cards {
  --stack-cards-gap: 24px;
  @apply space-y-6;
}

.stack-cards__item {
  @apply sticky top-28 origin-top overflow-hidden;
}

#theme-toggle::before {
  @apply absolute top-[-3px] right-[-4px] h-[7px] w-3.5 rotate-90 bg-radial-[circle_at_0_100%,transparent_6px,var(--color-background-8)_7px] bg-size-[50%_100%] bg-no-repeat content-[''];
}

#theme-toggle::after {
  @apply absolute right-[-7px] bottom-[-7px] h-[7px] w-3.5 rotate-0 bg-radial-[circle_at_0_100%,transparent_6px,var(--color-background-8)_7px] bg-size-[50%_100%] bg-no-repeat content-[''];
}

.dark {
  #theme-toggle::before {
    @apply bg-radial-[circle_at_0_100%,transparent_6px,#ffffff_7px];
  }

  #theme-toggle::after {
    @apply bg-radial-[circle_at_0_100%,transparent_6px,#ffffff_7px];
  }
}
